<div class="row content-gifs">
  <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <h3 class="text-center">Gif Gallery</h3>

    <form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">
      <div class="row">
        <div
          class="col col-xl-9 col-lg-9 col-md-9 col-sm-6 col-6"
          style="padding-right: 0px !important"
        >
          <div class="mb-3">
            <input
              type="url"
              class="form-control"
              formControlName="gif"
              placeholder="Gift URL"
            />

            <span class="form-text text-danger" *ngIf="campoEsValido('gif')">
              Error en la URL del Gif
            </span>
          </div>
        </div>
        <div
          class="col col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6"
          style="padding-left: 0px !important"
        >
          <button type="submit" class="btn-add">Agregar</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <app-gifs-list
      [gifs]="gifsList"
      (onDeleteGif)="deleteGif($event)"
    ></app-gifs-list>
  </div>
</div>
